#imCel8_00 {position: absolute; top: 0px; left: 10px; height: 511px; width: 652px; overflow: hidden; }
#imObj8_00 form {margin: 0; padding: 0; text-align: left; width: 360px; font: 11px Tahoma; color: #FFFFFF; line-height: 15px; ; }
#imObj8_00 fieldset {margin: 0; padding: 0; border: none; }
#imObj8_00 fieldset legend {visibility: hidden; }
#imObj8_00 .imInput {font: 11px Tahoma; color: #FFFFFF; line-height: 15px; ; border: 1px solid #AAAAAA; background-color: #FFFFFF; }
#imObj8_00 .imInput_0 {width: 90%; }
#imObj8_00 .imInput_1 {width: 65%; }
#imObj8_00 .imInput_2 {width: 45%; }
#imObj8_00 .imInput_3 {margin: 0; padding: 0; }
#imObj8_00 #imAgreePanel {border-top: 1px solid #C0C0C0; margin-top: 7px; }
#imObj8_00 .imFormButton {font: 11px Tahoma; color:#000000; border: 1px solid #000000; background-color:#C0C0C0; margin: 3px 0 7px 0; }
#imObj8_00 {padding: 0px; }
#imCel8_00_Cont {text-align: center; height: 511px; overflow: hidden; }
#imCel8_00 form {margin: 0 auto; }
#imCel0_00 {position: absolute; top: 521px; left: 10px; height: 136px; width: 652px; overflow: hidden; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 136px; overflow: hidden; }
#imCel7_00 {position: absolute; top: 667px; left: 10px; height: 150px; width: 652px; overflow: hidden; }
#imObj7_00 {font: 11px Arial; }
#imObj7_00 {padding: 0px; }
#imCel7_00_Cont {text-align: center; height: 150px; overflow: hidden; }
#imCel7_00_Cont {width: 652px; overflow: auto; }
#imPage {position: relative; height: 827px; }

