#imCel1_00 {position: absolute; top: 0px; left: 10px; height: 396px; width: 528px; overflow: hidden; }
#imObj1_00 img {border: none; height: 396px; width: 528px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: center; height: 396px; overflow: hidden; }
#imPage {position: relative; height: 406px; }

