#imCel7_01 {position: absolute; top: 0px; left: 10px; height: 150px; width: 528px; overflow: hidden; }
#imObj7_01 {font: 11px Arial; }
#imObj7_01 {padding: 0px; }
#imCel7_01_Cont {text-align: center; height: 150px; overflow: hidden; }
#imCel7_01_Cont {width: 528px; overflow: auto; }
#imPage {position: relative; height: 360px; }

