#imCel0_00 {position: absolute; top: 0px; left: 10px; height: 150px; width: 528px; overflow: hidden; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 150px; overflow: hidden; }
#imCel7_00 {position: absolute; top: 160px; left: 10px; height: 150px; width: 528px; overflow: hidden; }
#imObj7_00 {font: 11px Arial; }
#imObj7_00 {padding: 0px; }
#imCel7_00_Cont {text-align: center; height: 150px; overflow: hidden; }
#imCel7_00_Cont {width: 528px; overflow: auto; }
#imPage {position: relative; height: 360px; }

